Backend/node-red
index.php
*.ico
Arduino/BrewMonitor/SSID.txt
Arduino/BrewMonitor/.pioenvs/
Arduino/BrewMonitor/.sconsign.dblite
Arduino/BrewMonitor/lib/
Arduino/BrewMonitor/platformio.ini
Arduino/BrewMonitor/src/
.settings
.codio
WebApp/node_modules
WebApp/client/vendor
WebApp/dev
.idea/
logs/